<div class="atm-box" >
    <app-account-details [balance]="balance" [withdraw]="withdraw" [deposit]="deposit" [transfer]="transfer"></app-account-details>
    <form (ngSubmit)="onSubmit()">
        <div *ngIf="isError">
            <span>Invalid amount</span>
        </div>
        <input type="number" placeholder="Amount" [(ngModel)]="amount" name="amount" required>
        <select name="transaction" id="transaction" [(ngModel)]="transaction">
            <option value="Balance Inquiry">Balance Inquiry</option>
            <option value="Deposit">Deposit</option>
            <option value="Withdraw">Withdraw</option>
            <option value="Transfer">Transfer</option>
        </select>
        <button type="submit">Submit</button>
        <h2>{{ result }}</h2>
    </form>
</div>
